.interview_body::before {
    content: '';
    background-image: url('/src/assets/interview_bg.png');
    background-position: center;
    /* background-size: cover; */
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.interview_body {
    padding: 200px 0 100px 0;
    position: relative;
}

.interview_body .container {
    padding: 5rem 10rem;
}