.navbar {
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.nav-tran {
    background: transparent !important;
    transition: all 0.4s ease 0s;
}

.nav-color {
    padding: 2px;
    background-color: #193d85 !important;
    box-shadow: 0 2px 2px -2px rgba(135, 184, 240, 0.2);
    transition: all 0.4s ease 0s;
}

.nav-color a {
    font-size: 1rem;
    transition: all 0.4s ease 0s;
}

.nav-link {
    font-family: monospace;
    color: rgb(209, 205, 205) !important;
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}